<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask-RESTful Tutorial</title>
</head>
<body>
<div>
<p>Hello, welcome to the Flask-RESTful tutorial</p>
<p>This page isn't much aside from the landing page for the tutorial.</p>
<p>The following REST endpoints already exist as part of this websise:</p>
    <ol>
        <li>GET /cat - returns what the cat is currently saying in JSON form</li>
        <li>POST /cat - allows user to post a string that they want the cat to say</li>
    </ol>
</div>
</body>
</html>